<footer class="footer-style" fxFlex>
    <div class="space-top"></div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <h1>FALE CONOSCO</h1>
    </div>
    <div [fxLayout]="fxLayout" [fxLayoutGap]="fxLayoutGap" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="row">
                <a href="https://wa.me/5531988598734" target="_blank">
                    <img class="icons-green" src="../../assets/icons-svg/whatsapp.svg">
                </a>
            </div>
            <div fxLayout="row">
                <span class="text-of-icons">(31) 98859-8734</span>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="row">
                <a href="mailto:contato@nostopti.com.br">
                    <img class="icons-green" src="../../assets/icons-svg/email.svg">
                </a>
            </div>
            <div fxLayout="row">
                <div class="text-of-icons">contato@nostopti.com.br</div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="row">
                <img class="icons-green" src="../../assets/icons-svg/phone.svg">
            </div>
            <div fxLayout="row">
                <span class="text-of-icons">(31) 3243-3315</span>
            </div>
        </div>
    </div>

</footer>
