@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.space-around {
    padding-top: 100px;
}

.wallpaper {
    overflow: hidden;
    background-image: url("./assets/possible/519188.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: auto;
    width: auto;
    overflow: auto;
}
